@import './colors.scss';

body {
    margin: 0;
    background: $black;
    overflow-x: hidden;
    font-family: 'Poppins', Roboto, sans-serif;
    font-size: 16px;
    color: $bej;
    font-weight: 400;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: $bej;
}

* {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
}