.container {
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  padding: 45px 0 0 32px;
}
.section_light {
  background: #FFFFFF;
}
@media only screen and (max-width: 500px) {
  .section {
    padding-right: 32px;
  }
}
.section_podcasts {
  padding-bottom: 80px;
}
.section_podcasts .section_title {
  width: 100%;
  text-align: center;
}
.section_title {
  width: 15%;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #0D0B0E;
}
@media only screen and (max-width: 1000px) {
  .section_title {
    font-size: 24px;
    width: 100%;
  }
}

.header {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px 32px;
}
.header_link {
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.header_link svg {
  width: 20px;
  height: 20px;
  fill: #F1E0CB;
}
.header_link:hover {
  color: #dbb07b;
}
.header_link:hover svg {
  fill: #dbb07b;
}
@media only screen and (max-width: 700px) {
  .header_link {
    display: none;
  }
}

.logo_link svg {
  width: 60px;
  height: 60px;
}

.menu_list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.menu_list a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 700px) {
  .menu_list {
    display: none;
  }
}

.slider {
  height: 620px;
}
@media only screen and (max-width: 1000px) {
  .slider {
    height: 300px;
  }
}
.slider_item {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  height: 100%;
  width: 100%;
  position: relative;
}
.slider_item_image {
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 600px) {
  .slider_item_image {
    width: 100%;
    position: absolute;
    height: 100%;
    filter: opacity(0.25);
  }
}
.slider_item_content {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .slider_item_content {
    position: relative;
    z-index: 1;
  }
}
.slider_item_description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 600px) {
  .slider_item_description {
    font-size: 12px;
    line-height: 18px;
  }
}
.slider_item_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 135px;
}
@media only screen and (max-width: 1000px) {
  .slider_item_title {
    font-size: 50px;
    line-height: 70px;
  }
}
.slider_item_button {
  background: #FF595A;
  color: #F9F3EA;
  padding: 11px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.slider_item_button:hover {
  background: #ff4a4b;
}
.slider_item_button:active {
  background: #ff4041;
}
@media only screen and (max-width: 1000px) {
  .slider_item_button {
    padding: 6px 14px;
    font-size: 14px;
  }
}

.wrapper {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
}

.about {
  max-width: 650px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1000px) {
  .about {
    max-width: 100%;
  }
}
.about_image {
  vertical-align: bottom;
  position: relative;
}
@media only screen and (min-width: 1800px) {
  .about_image {
    flex-grow: 1;
  }
}
.about_image img {
  position: absolute;
  max-width: 80vw;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 1800px) {
  .about_image img {
    min-width: 50vw;
    z-index: 0;
    filter: opacity(0.25);
  }
}
.about_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0D0B0E;
}
@media only screen and (max-width: 1000px) {
  .about_title {
    font-size: 16px;
  }
}
.about_content {
  margin-top: 24px;
}
@media only screen and (max-width: 1000px) {
  .about_content {
    margin-top: 16px;
  }
}
.about_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #214B64;
}
.about_content p:not(:last-child) {
  margin-bottom: 16px;
}
@media only screen and (max-width: 1000px) {
  .about_content p:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 1000px) {
  .about_content p {
    font-size: 12px;
    line-height: 18px;
  }
}

.slogan {
  background: #0D0B0E;
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #F9F3EA;
}
@media only screen and (max-width: 1000px) {
  .slogan {
    font-size: 12px;
    padding: 7px 0;
  }
}

.models {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  gap: 40px;
}
@media only screen and (max-width: 1200px) {
  .models {
    gap: 16px;
  }
}
@media only screen and (max-width: 1000px) {
  .models {
    width: 100%;
    margin-top: 12px;
  }
}
.models_item {
  background: #F9F3EA;
  width: calc(33.3333333333% - 40px);
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .models_item {
    width: calc(33.3333333333% - 16px);
  }
}
@media only screen and (max-width: 900px) {
  .models_item {
    width: calc(50% - 16px);
  }
}
@media only screen and (max-width: 500px) {
  .models_item {
    width: 100%;
  }
}
.models_item_info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.models_item_tag {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #FFFFFF;
  background: #FF595A;
  padding: 3px 15px;
  text-transform: uppercase;
}
.models_item_price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0D0B0E;
}
.models_item_img {
  text-align: center;
}
.models_item_content {
  padding: 0 24px 24px 24px;
  text-align: start;
}
.models_item_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0D0B0E;
}
.models_item_description {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #214B64;
}

.podcasts_description {
  margin: 20px auto 32px auto;
  max-width: 600px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #214B64;
}
.podcasts_tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 835px;
  margin: 0 auto;
  gap: 32px;
}
.podcasts_tab {
  padding: 8px 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: #F1E0CB;
  color: #0D0B0E;
  cursor: pointer;
}
.podcasts_tab:hover:not(.active) {
  background: #f5eadb;
}
.podcasts_tab.active {
  background: #FF595A;
  color: #F1E0CB;
}
.podcasts_content {
  margin-top: 40px;
  max-width: calc(100% - 64px);
  overflow-x: scroll;
}
.podcasts_content::-webkit-scrollbar {
  display: none;
}
.podcasts_content_wrapper {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.podcast {
  width: 460px;
}
.podcast_info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.podcast_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #0D0B0E;
}
.podcast_time {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: rgba(13, 11, 14, 0.5);
}
.podcast_description {
  margin: 16px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #214B64;
}
.podcast_socials {
  display: flex;
}
.podcast_socials span {
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  color: rgba(13, 11, 14, 0.5);
}
.podcast_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin: 0 16px;
}
.podcast_icons a {
  filter: grayscale(1);
}
.podcast_icons a:hover {
  filter: grayscale(0);
}
.podcast_icons svg {
  width: 30px;
  height: 30px;
}

.blog {
  padding-bottom: 45px;
}
.blog_list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.blog_list_button {
  background: #FF595A;
  color: #F9F3EA;
  padding: 11px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 42px auto 0 auto;
  display: block;
}
.blog_list_button:hover {
  background: #ff4a4b;
}
.blog_list_button:active {
  background: #ff4041;
}
.blog_item {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .blog_item {
    height: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .blog_item {
    height: 250px;
  }
}
.blog_item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(226, 226, 226, 0.15);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  opacity: 0;
}
.blog_item:hover::before,
.blog_item:hover .blog_item_title {
  opacity: 1;
}
.blog_item_title {
  font-weight: 700;
  font-size: 70px;
  line-height: 105px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  opacity: 0;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .blog_item_title {
    font-size: 16px;
    line-height: 24px;
  }
}
.blog_row {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.blog_row:nth-child(2n) .blog_item {
  width: 50%;
}
.blog_row:nth-child(2n+1) .blog_item:first-child {
  width: 60%;
}
.blog_row:nth-child(2n+1) .blog_item:last-child {
  width: 40%;
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px 32px;
}
.footer_reseved {
  margin-left: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #F1E0CB;
  margin-right: 24px;
}
.footer_component {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #F1E0CB;
}

.mobile_menu {
  display: none;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .mobile_menu {
    display: block;
  }
}
.mobile_menu_button {
  text-transform: uppercase;
  font-weight: 400;
}
.mobile_menu_button:hover + .mobile_menu_nav {
  display: block;
}
.mobile_menu_nav {
  display: none;
  position: absolute;
  background: #F1E0CB;
  right: 0;
  padding: 24px;
  z-index: 2;
}
.mobile_menu_nav li:not(:last-child) {
  margin-bottom: 16px;
}
.mobile_menu_nav a {
  color: #0D0B0E;
}/*# sourceMappingURL=style.css.map */